# Данные для подключения к БД
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_HOST=localhost
# Время ответа БД в секундах
DB_RESPONSE_TIME=10

# Время действия auth token в днях
JWT_EXPIRATION_TIME=15
JWT_SECRET=YOUR_SECRET

ENTITIES_PER_REQUEST=10
